@font-face {
    font-family: "Our_Friend_Electric";
    src: url('./OurFriendElectric.otf');
}

@font-face {
    font-family: "Luckiest_Guy";
    src: url('./Luckiest_Guy.woff2');
}

@font-face {
    font-family: "Browood-Regular";
    src: url('./Browood-Regular.ttf');
}

@font-face {
    font-family: "Firacode_Medium";
    src: url('./FiraCode-Regular-1.ttf');
}