:root[data-theme='dark'] {
  --bg-color: #080f14;
  --line-color: rgba(75, 75, 75, 0.45);
  --btn-color: #202021;
  --btn-bg-color: #fff;
  --nslider-color: #fff;
  --websit-name-bg: #f2f5f7;
  --burn-true-color:#fff;
  --burn-false-color:#2d333a;
}

:root[data-theme='light'] {
  --bg-color: #f1f2f0;
  --line-color: rgba(0, 0, 0, 0.25);
  --btn-color: #fff;
  --btn-bg-color: #202021;
  --nslider-color: #202021;
  --websit-name-bg: #000;
  --burn-true-color:#000;
  --burn-false-color:#e1e7ef;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hljs {
  font-family: Fira Code, sans-serif;
  /* 其他样式 */
}

/* wwqg1lxb5q */