:root[data-theme='dark'] {
  --font-color: #fff;
  --bg-color: #080f14;
  --line-color: rgba(75, 75, 75, 0.45);
  --btn-color: #202021;
  --btn-bg-color: #fff;
  --nslider-color: #fff;
  --websit-name-bg: #f2f5f7;
  --burn-true-color: #fff;
  --burn-false-color: #2d333a;
  --call-me-bg-color: #2b2f32;
  --call-me-shallow-color: #2b2f32;
  --slider-color: #f1f2f0;
  --slider-rail-color: #283549;
  --dropdown-bg-color: #2c3034;
  --dropdown-font-color: #fff;
  --dropdown-allow-color: #2c3034;
  --dropdown-option-color: #ced0d1;
}

:root {
  --font-color: #000;
  --bg-color: #f1f2f0;
  --line-color: rgba(0, 0, 0, 0.25);
  --btn-color: #fff;
  --btn-bg-color: #202021;
  --nslider-color: #202021;
  --websit-name-bg: #000;
  --burn-true-color: #000;
  --burn-false-color: #e1e7ef;
  --call-me-bg-color: #dddfda;
  --call-me-shallow-color: #cac7c7;
  --slider-color: #080f14;
  --slider-rail-color: #d5d8db;
  --dropdown-bg-color: #dcdeda;
  --dropdown-font-color: #000;
  --dropdown-allow-color: #dcdeda;
  --dropdown-option-color: #c2c4c1;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hljs {
  font-size: 0.9rem;
  font-family: Fira Code, Firacode_Medium;
}

/* 设置n-select样式 */
.select-code .n-base-selection {
  font-size: 0.8rem;
  padding: 0px;
  --n-color: #353535 !important;
  --n-border-hover: 0px solid #36ad6a !important;
  --n-border: 0 !important;
  --n-border-active: 0px solid #18a058 !important;
  --n-border-focus: 0px solid #36ad6a !important;
  --n-caret-color: #353535 !important;
  --n-color-active: #353535 !important;
  --n-box-shadow-active: 0 0 0 1px #353535 !important;
  --n-box-shadow-focus: 0 0 0 1px #353535 !important;
}

.n-base-selection-placeholder__inner {
  width: 10vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 选择框的初始状态 */
/* 全局设置，一般大型多人协作项目中不这么写，会影响其他样式 */
.select-code .n-tag,
.select-code .n-tag--closable {
  color: #cfcfcf;
  padding: 0;
  --n-color: #353535 !important;
  --n-border: none !important;
}

.n-base-select-menu {
  width: fit-content;
  min-width: 9.2rem;
  max-width: 60vw;
}

.n-tag__content {
  height: 1rem;
  font-size: 0.8rem !important;
  width: calc(9vw - 1.3em);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.n-virtual-list {
  margin: 0;
  background-color: #353535;
}

.n-base-select-option--selected::before {
  background-color: #222222 !important;
}

/* 更改滑动选择的样式 */
.n-slider-rail__fill,
.n-slider-handles {
  --n-fill-color: var(--slider-color) !important;
  --n-fill-color-hover: var(--slider-color) !important;
  --n-dot-border-active: var(--slider-color) !important;
}

.n-slider-rail {
  --n-rail-color: var(--slider-rail-color) !important;
  --n-rail-color-hover: var(--slider-rail-color) !important;
  --n-rail-height: 6px;
}

@media (max-width: 768px) {
  .hljs {
    font-size: 0.85rem;
    font-family: Firacode_Medium, sans-serif;
  }

  .n-tag__content {
    width: calc(16vw - 1.3em);
  }
}